@import "../../styles/settings.scss";

$left_right_width: 50%;
$sides_offset: 50px;

.explainBlock {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // height: 100dvh;
  padding-bottom: 100px;

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - $sides_offset);
    height: $explainBlock_top_height;
    max-width: $max_width_2;

    &_el {
      font-weight: 900;
      font-size: 32px;
    }

    &_elActive {
      color: $accent;
    }
  }

  &_topTitle {
    font-weight: 900;
    font-size: 64px;
    color: $accent;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    width: calc(100% - $sides_offset);

    &_left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: calc($left_right_width - $sides_offset);

      &_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: calc($max_width_2 / 2 - $sides_offset);

        &_text {
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          color: rgba(255, 255, 255, 0.6);

          span {
            font-weight: 900;
            font-size: 32px;
            font-style: italic;
            color: white;
          }
        }

        &_btn {
          padding: 15px 75px;
          border-radius: $radius;
          border: 2px solid $accent;
          font-weight: 900;
          font-size: 24px;

          transition: all 0.25s ease-in;

          &:hover {
            opacity: 0.8;
            background-color: $accent;
            color: black;
          }
        }
      }
    }

    &_right {
      display: flex;
      justify-content: flex-end;
      width: $left_right_width;
      &_img {
        width: calc(100% - $sides_offset);
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .explainBlock {
    height: 100%;
    // &_top {
    //   &_el {
    //     font-size: 22px;
    //   }
    // }

    &_topTitle {
      font-weight: 900;
      font-size: 64px;
      color: $accent;
    }

    &_bottom {
      &_left {
        &_wrap {
        }
      }

      &_right {
        display: flex;
        justify-content: flex-end;
        width: $left_right_width;

        &_img {
          width: calc(100% - $sides_offset);
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .explainBlock {
    // &_top {
    //   &_el {
    //     font-size: 18px;
    //   }
    // }

    &_topTitle {
      font-weight: 900;
      font-size: 64px;
      color: $accent;
    }

    &_bottom {
      width: 100%;
      align-items: center;
      flex-direction: column-reverse;

      &_left {
        width: calc(100% - $sides_offset);
        &_wrap {
          width: 100%;

          &_text {
            font-size: 16px;
            line-height: 22px;
          }

          &_btn{
            margin-bottom: 30px;
          }
        }
      }

      &_right {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-bottom: 20px;

        &_img {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .explainBlock {
    &_top {
      height: fit-content;
      flex-direction: column;
      align-items: flex-start;
      padding: 40px 0px;
      // &_el {
      //   font-size: 18px;
      // }
    }

    &_topTitle {
      padding: 0px;
      font-size: 32px;

      // font-weight: 900;
      // font-size: 64px;
      // color: $accent;
    }

    &_bottom {
      width: 100%;
      align-items: center;
      flex-direction: column-reverse;

      &_left {
        width: calc(100% - $sides_offset);
        &_wrap {
          width: 100%;
        }
      }

      &_right {
        display: flex;
        justify-content: flex-end;
        // width: 80%;
        padding-bottom: 20px;

        &_img {
          width: 100%;
        }
      }
    }
  }
}
