@import "../../styles/settings.scss";

.carouselBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: white;

  h1 {
    // max-width: $max_width_3;
    width: 100%;
    max-width: $max_width_3;
    text-align: start;
    font-size: 48px;
    font-weight: 700;
    color: $accent;
    padding: 0px $section_offset;
    margin-top: 30px;
  }
}

.slider-container {
  width: 100%;
  // height: 100vh;

  background-color: white;

  &_el {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    height: 70%;

    p {
      margin-top: 20px;
      font-size: 20px;
    }
  }
}

.custom_arrow {
  justify-content: center;
  align-items: center;

  position: absolute !important;
  top: 85% !important;

  width: 75px !important;
  height: 75px !important;
  border-radius: 333px;
  border: 1px solid black !important;

  &::before {
    display: none;
  }

  &:hover {
    background-color: $accent !important;
  }
}
.slick-prev {
  z-index: 2;
  left: 25% !important;
}
.slick-next {
  right: 25% !important;
}

.slick-slide {
  transform: scale(0.5);
  transition: all 0.4s ease-in-out;
  padding: 40px 0;
}

.slick-slide img {
  max-width: 80%;
  transition: all 0.4s ease-in-out;
}

.slick-center {
  transform: scale(0.8);
  text-wrap: nowrap !important;
  p {
    text-align: center!important;
    font-size: 28px;
    text-wrap: nowrap !important;
  }
}

@media screen and (max-width: 1100px) {

  .carouselBlock {

  
    h1 {

      font-size: 28px;

      padding: 0px $section_offset;
      margin-top: 20px;
    }
  }

  .slider-container {
    &_el {
      p {
        margin-top: 30px;
        font-size: 10px;
      }
    }
  }
  .slick-slide {
    transform: scale(0.6);

  }

  .custom_arrow {
    display: none !important;
  }
  .slick-center {
    transform: scale(0.9);

    p {
      font-size: 15px;
      text-wrap: nowrap !important;
    }
  }
}
